:root {
  --fancysocialheight: 20px;
  --emailCorrection: 0;
}

.social-wrapper {
  text-align: center;
}
.social-item {
  position: relative;
  padding: 0 5px;
}
.social-link {
  color: #FFFFFF;
}
.fancy-username {
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease;
}
.social-link:hover .fancy-username {
  opacity: 0.7;
  transform: translateY(var(--fancysocialheight));
}
.social-link:hover .fancy-username.fancy-email {
  transform: translate(var(--emailCorrection), var(--fancysocialheight));
}
