.adding,
.removing,
.postlist-post-link > .post-date {
  transition: opacity 0.3s ease;
}
.adding {
  opacity: 1;
}
.removing {
  opacity: 0;
}
.postlist-post-link > .post-date {
  opacity: 0;
}
.postlist-post-link:hover > .post-date {
  opacity: 1;
  text-decoration: underline;
}
.postlist-post-link:hover {
  text-decoration: none;
}
